#estatus, #formConsulta input, #servico, #descricao{
    padding: 5px;
    border: #6e3596 groove 2px; 
    border-radius: 5px;
    width: 98px;
    transition: box-shadow 0.15s linear 0s,background-color 0.15s linear 0s;
}

#estatus:focus, #servico:focus, #formConsulta input:focus, #descricao:focus{
    box-shadow:2px 5px 5px #9f6899,-2px -5px 5px #9f6899;
    background-color: rgb(247, 239, 247);
}

#formConsulta input, #descricao{
    width: auto;
}

label{
    font-size: 16px;
    font-weight: 550;
    padding: 5px;
}

.opcoesPgto{
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}

.botao-calendario{
	padding: 7px;
	margin: 5px;
	box-sizing: border-box;
	background-color: white;
	font-weight: 700;
	color: #6e3596;
	border: 2px solid #6e3596;
	border-radius: 8px;
	transition:box-shadow 0.15s linear 0s, color 0.15s linear 0,margin-top 0.15s linear 0s;
}

.botao-calendario:active{
	background-color: #9f6899;
	color:white;
	border: 2px solid white;
	box-shadow: 2px 5px 5px #9f6899,-2px -5px 5px #9f6899;
}