#estatus, #formConsulta input, #servico, #descricao{
    padding: 5px;
    border: #6e3596 groove 2px; 
    border-radius: 5px;
    width: 98px;
    transition: box-shadow 0.15s linear 0s,background-color 0.15s linear 0s;
}

#estatus:focus, #servico:focus, #formConsulta input:focus, #descricao:focus{
    box-shadow:2px 5px 5px #9f6899,-2px -5px 5px #9f6899;
    background-color: rgb(247, 239, 247);
}

#formConsulta input, #descricao{
    width: auto;
}

label{
    font-size: 16px;
    font-weight: 550;
    padding: 5px;
}

.opcoesPgto{
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}

.botao-calendario{
	padding: 7px;
	margin: 5px;
	box-sizing: border-box;
	background-color: white;
	font-weight: 700;
	color: #6e3596;
	border: 2px solid #6e3596;
	border-radius: 8px;
	transition:box-shadow 0.15s linear 0s, color 0.15s linear 0,margin-top 0.15s linear 0s;
}

.botao-calendario:active{
	background-color: #9f6899;
	color:white;
	border: 2px solid white;
	box-shadow: 2px 5px 5px #9f6899,-2px -5px 5px #9f6899;
}


.TextInfo {
    font-family: "Verdana", Arial, sans-serif;
    font-size: 17px;
    margin-left: 10px;
    font-weight:bold;
    margin-top:12px; 
    color:#6e3596;
}
.TextInput{
    margin-top: 10px;
    margin-bottom:10px; 
}
.TextInput:hover{
    border-color:rgba(110,53,150, 0.65); 
}
.TextArea{
    margin-top:10px;
    margin-left:25px; 
}
.TextArea:hover{
    border-color:rgba(110,53,150, 0.65); 
}
.Botao {
    margin-left:35px;
    margin-top:20px;
    background-color: #6e3596; 
    color: white;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: inline-block;
}
.Botao:hover{
    box-shadow: 2px 5px 5px rgba(110,53,150, 0.85);
    margin-bottom: 7px;
}
/*----Modal---*/
.EstiloModal{
    margin-top:100px;
}

