body{
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 18px;
}

label{
    font-size: 16px;
    font-weight: 550;
    padding: 5px;
    margin-top: 10px;
}

.inputFicha{
    background-color: lightgray;
}

.pesquisar-tabela, .formClienteInput  {
    padding: 5px;
    border: #6e3596 groove 2px; 
    border-radius: 5px;
    width: 100%;
    transition: box-shadow 0.15s linear 0s,background-color 0.15s linear 0s;
}

.pesquisar-tabela:focus, .formClienteInput:focus{
    box-shadow:2px 5px 5px #9f6899,-2px -5px 5px #9f6899;
    background-color: rgb(247, 239, 247);
}

.listaEmail{
    transition: font-weight 0.15s linear 0s, margin 0.15s linear 0s,color 0.2s linear 0s;
}
.listaEmail:hover{
    font-weight: 500;
    color: #6e3596;
    margin-left: 5px;
    cursor: pointer;
}

.botoesToolbar{
    box-shadow: 2px 5px 5px rgba(0,0,0, 0.65);
    transition: margin 0.25s linear 0s, box-shadow 0.10s linear 0s;
}

.botoesToolbar:hover{
    box-shadow: 2px 5px 5px rgba(0,0,0, 0.85);
    margin-bottom: 7px;
}

.botoesToolbar:active{
    box-shadow: 2px 5px 5px rgba(0,0,0, 0.85);  
}

#tabela-Cliente-Body td{
    vertical-align: middle;
}

.modal-header{
    background-color: #9370DB; 
}

#titulosTabela{
    font-size: 20px;
    text-align: center;
}

#tabela-Cliente-Body{
    font-size: 17px;
    vertical-align: middle;
}

#tabela-Cliente-Body td{
    vertical-align: middle;
}


.labelFicha{
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 5px; 
}
 
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn{
    animation: fadeIn 0.5s linear;
}
 
 th, td { white-space: nowrap;
max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis
 	};

 