body{
	background-color: gray;
}

#container-consultas{
	width: 100%;
	height: 100%;
}

.nav-tabs{
	margin-top: 10px;
	padding: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.tab-pane{
	background-color: white;
	overflow-y: auto;
	padding: 5px;
}

.nav-tabs .nav-item{
	background-color: white;
}

.nav-item a{
	font-weight: bold;
	font-size: 25px;
}

.nav-link{
	width: 100%;
}

#conteudo-consulta{
	float:left;
	width:70%;
	height:100%;
	padding:15px;
	overflow-y:auto;
}

#informacoes{
	float:left;
	width:29%;
	height:100%;
}
#informacoes img{
	width:100px;
	height: 100px;	
}