body{
	background-color: gray;
	overflow-x: hidden;
	overflow-y: hidden;
} 

#container-faturamento{
	width: 90%;
	margin-left: 5%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.01);
}

#tabela-faturamento{
	box-sizing: border-box;
	float: left;
	height: 80%;
	width: 40%;
	margin-top: 8%;
	padding: 15px;
	border: 1px inset rgba(0, 0, 0, 0.5);
}

#graficos-faturamento{
	box-sizing: border-box;
	float: right;
	height: 80%;
	width: 60%;
	margin-top: 8%;
	border: 1px outset rgba(0, 0, 0, 0.5);
}

td{
	padding: 10px;
}

.pesquisar-tabela {
    padding: 5px;
    border: #6e3596 groove 2px; 
    border-radius: 5px;
    width: 100%;
    transition: box-shadow 0.15s linear 0s,background-color 0.15s linear 0s;
}

.pesquisar-tabela:focus{
    box-shadow:2px 5px 5px #9f6899,-2px -5px 5px #9f6899;
    background-color: rgb(247, 239, 247);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn{
    animation: fadeIn 0.25s ease-in-out;
}