body{
	background-color: gray;
	overflow-x: hidden;
	overflow-y: hidden;
} 

#container-faturamento{
	width: 90%;
	margin-left: 5%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.01);
}

#tabela-faturamento{
	box-sizing: border-box;
	float: left;
	height: 80%;
	width: 40%;
	margin-top: 8%;
	padding: 15px;
	border: 1px inset rgba(0, 0, 0, 0.5);
}

#graficos-faturamento{
	box-sizing: border-box;
	float: right;
	height: 80%;
	width: 60%;
	margin-top: 8%;
	border: 1px outset rgba(0, 0, 0, 0.5);
}

td{
	padding: 10px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn{
    animation: fadeIn 0.25s ease-in-out;
}