#corpo-principal{
    overflow: hidden;
}

#tela-ajuda{
    box-sizing: border-box;
    width: 45%;
    margin-right: 5%;
    float: right;
    padding: 10px;
    overflow-y: auto;
}

.img-ajuda{
    width: 80%;
    margin: 5px;
}

#opcoes-ajuda{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
}

.topicos-ajuda{
    box-sizing: border-box;
    width: 28%;
    height: 45%;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}

.topicos-ajuda img{
    height: 70%;
    margin-bottom: 5px;
}

/* Tipografia */
#tela-ajuda h2{
    font-family: "Verdana", Arial, sans-serif;
    text-align: center;
    width: 45%;
    margin-top: 10px;
}

#tela-ajuda p{
    font-family: "Verdana", Arial, sans-serif;
    text-align: justify;
    display: block;
}

.topicos-ajuda h4{
    width: 100%;
    text-align: center;
    padding: 5px;
    color:rgb(189, 36, 107);
    border: 1px solid lightgray;
    transition: border 0.15s linear 0s;
    transition: color 0.15s linear 0s;
}

.topicos-ajuda h4:hover{
    border:1px solid gray;
    color: gray;
}