.modal-body
{
    background-color: #FFE4E1;
}

.modal-content
{
   
}

.modal-footer
{
   
}

.modal-header
{
    background-color: #9370DB;
    
}

#tabela-Produto{
    background-color: #DDA0DD;
}